<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>App Gestão</mat-card-title>
      <mat-card-subtitle>Rafa</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Foto da pagina gome">
    <mat-card-content>
      <p>
        Bem vindo ao sistema de gestão, o sistema foi feito para a simulação de um sistema de gestão, com controle de chamados, colaboradores e clientes.
    </p>
    </mat-card-content>
  </mat-card>
  