<div class="container mat-elevation-z8">
    <form  class="form">
        <h1 class="fullWidht">Cadastrar cliente</h1>
        <img src="assets/img/colaborador.svg" class="fullWidht" alt="App gestão">

        <section class="section">
            <mat-checkbox class="margin" (click)="addPerfil(0)" color="primary">Admin</mat-checkbox>
            <mat-checkbox [checked]="true" class="margin" (click)="addPerfil(1)" color="primary">Cliente</mat-checkbox>
            <mat-checkbox class="margin" (click)="addPerfil(2)" color="primary">Colaborador</mat-checkbox>

          </section>

          <p>
            <mat-form-field class="fullWidht" appearance="fill">
              <mat-label>Nome</mat-label>
              <input maxlength="50" [(ngModel)]="cliente.nome" name="=nome" [formControl]="nome" required matInput placeholder="Ex: Rafa">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="fullWidht" appearance="fill">
              <mat-label>Cpf</mat-label>
              <input [formControl]="cpf" mask="000.000.000-00" [(ngModel)]="cliente.cpf" name="=cpf" required matInput placeholder="Ex: 000.000.000-00">
              <mat-icon matSuffix>pin</mat-icon>
            </mat-form-field>
          </p>
          
          <p>
            <mat-form-field class="fullWidht" appearance="fill">
              <mat-label>Email</mat-label>
              <input [formControl]="email" [(ngModel)]="cliente.email" name="=email" required matInput placeholder="Ex: rafa@gmail.com">
              <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="fullWidht" appearance="fill">
              <mat-label>Senha</mat-label>
              <input [formControl]="senha" [(ngModel)]="cliente.senha" name="=senha" required type="password" matInput placeholder="Ex: 123">
              <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
          </p>
          <button class="fullWidht mat-elevation-z4" (click)="create()" [disabled]="!validaCampos()" mat-raised-button color="primary">Cadastrar</button>
          <button class="fullWidht mat-elevation-z4" mat-raised-button color="warn" routerLink="../">Cancelar</button>

          
                  
          
    </form>
</div>